.rounded {
    border-radius: 1rem !important;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.rounded-lg {
    border-radius: 1rem !important;
    overflow: hidden;
}

.seeds th,
td {
    padding: 15px;
}

.pictures td {
    text-align: center;
}

.pictures-img {
    object-fit: contain;
    width: 100%;
}

.navbar-shadow {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

@media only screen and (max-width: 1200px) {
    .responsive-xl tr td {
        display: block;
        width: 25%;
        box-sizing: border-box;
        padding-right: 30px;
        float: left;
    }
}

@media only screen and (max-width: 1000px) {
    .responsive-lg tr td {
        display: block;
        width: 30%;
        box-sizing: border-box;
        padding-right: 30px;
        float: left;
    }
}

@media only screen and (max-width: 800px) {
    .responsive tr td {
        display: block;
        width: 50%;
        box-sizing: border-box;
        padding-right: 30px;
        float: left;
    }
}

@media only screen and (max-width: 550px) {
    .responsive tr td {
        width: 100%;
    }
}

fieldset {
    margin: 5px;
    padding: 0 10px 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.seed-input {
    width: 4em;
}

.seed-button {
    width: 6em;
}

.seed-info-table>thead>tr>th,
.seed-info-table>tbody>tr>th,
.seed-info-table>tfoot>tr>th,
.seed-info-table>thead>tr>td,
.seed-info-table>tbody>tr>td,
.seed-info-table>tfoot>tr>td {
    padding: 5px;
}

 /* The snackbar - position it at the bottom and in the middle of the screen */
 #SnackbarDiv {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }

  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  .show-bar {
    visibility: visible !important; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 15.0s;
  }

  .close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 0px;
    padding: 10px 5px 15px 0px;
    transform: translate(0%, -50%);
  }

  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }

  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }

  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
